@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.maintitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 1000;

  color: #866fed;
}
.maintitle-dsc {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;

  color: #291f62;
}
.title {
  font-family: Lato;
  color: #866fed;
  font-weight: 900;
  line-height: 1;
}
.footer {
  color: #c4c4c4;
}
.footer2 {
  color: #c4c4c4;
  font-weight: 700;
}
.footerbg {
  background-color: #291f62;
}
.demo {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #866fed;
}
.discription {
  font-family: Poppins;
  font-weight: normal;

  color: #000000;
}
.headertitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
}
.headertitle2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
}
